* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source code pro';
    outline: none;
    border: none;
}

:root {
    --width: 70vmin;
    --height: 40vh;
    --padding: .7rem;
    --margin: 1rem;
    --border: 1px solid grey;
    --fontSize: 1.2rem;
    --backgroundColor: #f5f6f1;
    --radius: 8px;
    --boxShadow: 0px 0px 1px grey;

}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: var(--padding);
}

.container {
    padding: var(--padding);
    background-color: rgb(110, 110, 108);
    border-radius: var(--radius);
    box-shadow: var(--boxShadow);

}

h2 {
    text-align: center;
    font-size: var(--fontSize);
}

.result {
    width: calc(var(--width));
    height: calc(var(--height));
    margin: 0 auto;
    background-color: var(--backgroundColor);
    border-radius: var(--radius);
    box-shadow: var(--boxShadow);
    margin-top: .8rem;
    border: 1px solid gray;
    font-size: 1rem;
    color: black;
    padding: var(--padding);
}

.button-area {
    margin-top: .8rem;
    display: flex;
    justify-content: space-around;
   
}

button {
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--radius);
    box-shadow: var(--boxShadow);
    font-size: var(--fontSize);
    cursor: pointer;
    
}
#result {
    box-sizing: border-box;
}

button:hover{
    
    background-color: rgb(198, 195, 202);
    transform: all .1s;
}

@media only screen and (max-width: 400px) {
  
  button {
    font-size: .8rem;
  }
  h2 {
    font-size: .9rem;
  }
}